@model IEnumerable<BoxingSite.Models.TrainerUser>

@{
    ViewBag.Title = "Trainers";
}
<link href="~/assets/css/mainPhantom.css" rel="stylesheet" />



<div id="wrapper">
    <!-- One -->
    <section id="one" class="main sectionBgColor">
        <div class="inner spotlight style1">
            <div class="content  align-center">
                <header class="major">
                    <h2>Trainers - Professional Boxers</h2>
                </header>
                <p>
                    King Boxing currently manage <strong><i>29 professional boxers</i></strong>.
                    King Boxing currently manage 29 professional boxers.
                    King Boxing currently manage 29 professional boxers.
                </p>
            </div>
        </div>
    </section>



    <div id="">
        <div class="inner">
            <p>
                You can search through our 29 professional boxers.
            </p>
            <input type="text" id="searchInput" onkeyup="searchTrainers()" placeholder="Search for Trainers.." title="Type in a name">
        </div>
    </div>
    <!-- Main -->
    <div id="">
        <div class="inner">
            @Html.ActionLink("Create Trainer", "Create", "Trainer", new { @class = "button primary" })
            <br />
            <section class="tiles">
                @foreach (var person in Model)
                {
                    Random rand = new Random(DateTime.Now.Millisecond);
                    int styleNum = rand.Next(1, 7);
                    <article class="style@(styleNum)">

                        <a href="/Trainer/TrainerDetails/@person.Id">
                            <h2 class="trainerName">@Html.DisplayFor(modelItem => person.Forename) @Html.DisplayFor(modelItem => person.Surname)</h2>
                            <div class="content">
                                <p>@Html.DisplayFor(modelItem => person.Description).ToString().Substring(0, 100)</p>
                            </div>
                        </a>
                        <span class="image">
                            <img src=@Html.DisplayFor(modelItem => person.ImageSrc) alt="" />
                        </span>
                    </article>
                }
            </section>
        </div>
    </div>
</div>
<script>
    function searchTrainers() {

        var searchInput, filter;
        var articles;
        var trainerName;
        var trainerNameTextValue, trainerDescriptionTextValue;
        var a, i;

        searchInput = document.getElementById('searchInput').value;
        filter = searchInput.toString().toUpperCase();
        articles = document.getElementsByTagName('article');

        for (i = 0; i < articles.length; i++) {

            a = articles[i].getElementsByTagName('a')[0];

            // get name of each trainer
            trainerName = a.getElementsByClassName('trainerName')[0];
            trainerNameTextValue = trainerName.textContent;

            // get description of each trainer
            var p = articles[i].getElementsByTagName('p')[0];
            trainerDescriptionTextValue = p.textContent;


            if (trainerNameTextValue.toUpperCase().indexOf(filter.toString()) > -1 ||
                trainerDescriptionTextValue.toUpperCase().indexOf(filter.toString()) > -1) {
                articles[i].style.display = "";
            }
            else {
                articles[i].style.display = "none";
            }
        }
    }
</script>
