
@model IEnumerable<BoxingSite.Models.TrainerUser>

@{
    ViewBag.Title = "Trainers";
}
<link href="~/assets/css/mainPhantom.css" rel="stylesheet" />



<div id="wrapper">
   
    <!-- One -->
    <section id="one" class="main">
        <div class="inner spotlight style1">
            <div class="content">
                <header class="major">
                    <h2>Trainers</h2>
                </header>
                <p>
                    King Boxing currently manage <strong><i>29 professional boxers</i></strong>.
                    King Boxing currently manage 29 professional boxers.
                    King Boxing currently manage 29 professional boxers.
                </p>
            </div>
            <!--
                Note: You can replace the image below with a JPEG or PNG. Just make sure it's exactly
                320x340 or at least the same aspect ratio (16:17).

            <span class="image"><img src="images/pic01.svg" alt="" /></span>-->
        </div>
    </section>

    <!-- Main -->
    <div id="">

        <div class="inner">

            <section class="tiles">
                @foreach (var person in Model)
                {
                    Random rand = new Random(DateTime.Now.Millisecond);
                    int styleNum = rand.Next(1, 7);
                    <article class="style@(styleNum)">
                        <span class="image">
                            <img src=@Html.DisplayFor(modelItem => person.ImageSrc) alt="" />
                        </span>
                 

                        <a href="/Trainer/TrainerDetails/@person.T_Id">
                            <h2 class="trainerName">@Html.DisplayFor(modelItem => person.Forename) @Html.DisplayFor(modelItem => person.Surname)</h2>
                            <div class="content">
                                <p>@Html.DisplayFor(modelItem => person.Description).ToString().Substring(0, 100)</p>
                            </div>
                        </a>
                    </article>

                }


                @*<article class="style1">
            <span class="image">
                <img src="~/images/trainers/joshua-medway-sd-Pq5aDoO4-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Robert Lilt</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style4">
            <span class="image">
                <img src="~/images/trainers/colin-cassidy-akj4oRw8E04-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Violet Malcolm</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style3">
            <span class="image">
                <img src="~/images/trainers/steven-van-vLC--gwHnbQ-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Robert Betfred</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style2">
            <span class="image">
                <img src="~/images/trainers/emily-sea-coiWR0gT8Cw-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Helen Tacki</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style3">
            <span class="image">
                <img src="~/images/trainers/filipe-almeida-mnEWC72eWDM-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>John Greanleaf</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style4">
            <span class="image">
                <img src="~/images/trainers/form-B6fw69UttOI-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Elizabeth Almond</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style5">
            <span class="image">
                <img src="~/images/trainers/form-qQGAQMbURhU-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Garry MacDonald</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style6">
            <span class="image">
                <img src="~/images/trainers/imani-clovis-tBt9JxuQBYs-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Douglas Butcher</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style2">
            <span class="image">
                <img src="~/images/trainers/jonathan-cosens-photography-jcp-v-YiCIbDjOQ-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>James Walker</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style3">
            <span class="image">
                <img src="~/images/trainers/joshua-medway-sd-Pq5aDoO4-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>William Wallace</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style1">
            <span class="image">
                <img src="~/images/trainers/leandro-viegas-Tv4lD_smpPQ-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Nullam Nullam</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style5">
            <span class="image">
                <img src="~/images/trainers/marius-ciocirlan-vMV6r4VRhJ8-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Ultricies Ultricies</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style6">
            <span class="image">
                <img src="~/images/trainers/form-B6fw69UttOI-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Dictum Dictum</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style4">
            <span class="image">
                <img src="~/images/trainers/trust-tru-katsande-Pu7BOaYlYGY-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Pretium Pretium</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style4">
            <span class="image">
                <img src="~/images/trainers/valentina-aleksandrovna-BExYKIjiPQE-unsplash.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>Pretium Pretium</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>*@
            </section>
        </div>
    </div>
</div>


