@model BoxingSite.Models.SingleTrainerViewmodel


@{
    ViewBag.Title = "TrainerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="wrapper">

    <!-- One -->
    <section class="main">
        <div class="inner spotlight style1">
            <div class="content">
                <header>
                    <h2>
                        @Html.DisplayFor(model => model.Forename)
                        @Html.DisplayFor(model => model.Surname)
                    </h2>
                </header>
                <p>
                    @Html.DisplayFor(model => model.Description)

                </p>
            </div>
            <br />

                        
            
            <!--
            Note: You can replace the image below with a JPEG or PNG. Just make sure it's exactly
            320x340 or at least the same aspect ratio (16:17).

        <span class="image"><img src="images/pic01.svg" alt="" /></span>-->
        </div>

        <div class="inner">

            <ul class="icons">
                <li><a href="https://twitter.com/KynochBoxing" class="icon brands fa-twitter fa-2x"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-instagram fa-2x"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon solid fa-envelope fa-2x"><span class="label">Email</span></a></li>
            </ul>
        </div>
    </section>

    <!-- Main -->
    <div id="">

        <div class="inner">


            <span class="image align-center">
                <img style="width: 60%;" src=@Html.DisplayFor(model => model.ImageSrc) alt="" />
            </span>



        </div>
    </div>
</div>


