@{
    ViewBag.Title = "Prices";
}

<div id="wrapper">
    <!-- One -->
    <section id="one" class="main sectionBgColor">
        <div class="inner spotlight style1">
            <div class="content align-center">
                <header class="major">
                    <h2>King Boxing Pricing</h2>
                </header>
                <p>
                    Membership and Pay As You Go Training Costs. Call 07023 123456 for more information.
                </p>
            </div>
        </div>
    </section>


    <!-- Main -->
    <div id="payg">
        <div class="inner">
            <h2>Pay As You Go Training</h2>
            <table>
                <tr>
                    <td>Adults (17+)</td>
                    <td>£7 per session</td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td>£5 per session</td>
                </tr>
                <tr>
                    <td>Kids (5-16)</td>
                    <td>£5 per session</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="parallax align-center" style="height: 220px; background-image: url('../../images/boxing/dylan-nolte-ITDjGji__6Y-unsplash.jpg')">
        <a href="#payg" class="button btn-default large">Schedule</a>

    </div>

    @*<section class="sectionBgColor">
        </section>*@

    <div id="membership">
        <div class="inner">
            <h2>Membership</h2>
            <table>
                <tr>
                    <td>Adults (17+)</td>
                    <td>£60 per month</td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td>£36 per month</td>
                </tr>
                <tr>
                    <td>Kids (5-16)</td>
                    <td>£36 per month</td>
                </tr>
            </table>
        </div>
    </div>
</div>




