@{
    ViewBag.Title = "Gym";
}




<div id="wrapper">
    <!-- One -->
    <section id="one" class="main sectionBgColor">
        <div class="inner spotlight style1">
            <div class="content  align-center">
                <header class="major">
                    <h2>Making First Contact</h2>
                </header>
                <p class="italic">
                    Have any questions, want a tour, considering becoming a professional boxer extraordinaire, why not gives us a call.
                </p>
                <ul class="icons">
                    <li><a target="_blank" href="https://www.youtube.com/watch?v=YGjO3ZfPZhM&list=RDOiJJSY5uBvQ&index=27" class="icon brands fa-twitter fa-lg"><span class="label">Twitter</span></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/watch?v=YGjO3ZfPZhM&list=RDOiJJSY5uBvQ&index=27" class="icon brands fa-instagram fa-lg"><span class="label">Instagram</span></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/watch?v=YGjO3ZfPZhM&list=RDOiJJSY5uBvQ&index=27" class="icon brands fab fa-facebook-f fa-lg"><span class="label">Facebook</span></a></li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Main -->
    <section id="main" class="align-center">
        <div class="inner">
            @*<div class="row">
                <div class="col-6-xlarge col-12-medium">
                    <h2>Social Profile </h2>
                    <ul class="icons">
                        <li><a target="_blank" href="https://www.youtube.com/watch?v=YGjO3ZfPZhM&list=RDOiJJSY5uBvQ&index=27" class="icon brands fa-twitter fa-lg"><span class="label">Twitter</span></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/watch?v=YGjO3ZfPZhM&list=RDOiJJSY5uBvQ&index=27" class="icon brands fa-instagram fa-lg"><span class="label">Instagram</span></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/watch?v=YGjO3ZfPZhM&list=RDOiJJSY5uBvQ&index=27" class="icon brands fab fa-facebook-f fa-lg"><span class="label">Facebook</span></a></li>
                    </ul>
                    <br />
                    <hr />
                </div>
                <div class="col-6-xlarge col-12-medium">
                    <h2>Find Us</h2>
                    <p>
                        <i class="fas fa-map-marker-alt"></i>
                        131 Alexander Street, G27 Glasgow, Scotland
                        <br />
                        <i class="fas fa-mobile-alt"></i>
                        07023 194365
                    </p>
                    <hr />
                </div>
            </div>*@

            <div>
                <h2>Opening Hours</h2>
                <table class="table-responsive">


                    <tr>
                        <td>Monday</td>
                        <td>11:00-19:00</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>11:00-19:00</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>11:00-19:00</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>11:00-19:00</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>11:00-19:00</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>11:00-19:00</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>11:00-19:00</td>
                    </tr>



                </table>


            </div>
        </div>
    </section>



</div>


