@{
    ViewBag.Title = "This is William ";
}

<!-- Page Wrapper -->


 
    <!-- Banner -->
<section id="banner" style="background-image: url('../../images/boxing/attentie-attentie-ig7vN6OkGNE-unsplash.jpg');">
    <div class="inner">
        <header>
            <h1>King <span>Boxing</span></h1>
            <p>
                The facility is open <strong>7 days</strong> each week.<br />
                The gym is open to everyone from those <strong><i>looking to train</i></strong> for fitness purposes only<br />
                to <strong><i>professional boxers</i></strong> preparing for major title fights.
            </p>
        </header>
        <ul class="actions special">
            <li><a href="#top" class="button primary large">Get Started</a></li>
        </ul>
    </div>
    <a href="#top" class="more">Learn More</a>
    

</section>

<!-- Wrapper -->
<div id="wrapper">

    <!-- One -->
    <section id="top" class="main">
        <div class="inner spotlight style1">
            <div class="content">
                <header>
                    <h2>Sed Consequat</h2>
                </header>
                <p>Ipsum efficitur nisi ac turpis venenatis varius. Suspendisse sed dictum leo ipsum amet pellentesque fusce ac hendrerit consectetur tempor risus, sed eget semper nunc. eleifend facilisis nisi vitae lorem ipsum dolor consequat lorem ipsum etiam.</p>
            </div>
            <!--
                Note: You can replace the image below with a JPEG or PNG. Just make sure it's exactly
                320x340 or at least the same aspect ratio (16:17).
            
            <span class="image"><img src="images/pic01.svg" alt="" /></span>-->
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="main">
        <div class="inner spotlight alt style2">
            <div class="content">
                <header>
                    <h2>Trainers</h2>
                </header>
                <p>Ipsum efficitur nisi ac turpis venenatis varius. Suspendisse sed dictum leo ipsum amet pellentesque fusce ac hendrerit consectetur tempor risus, sed eget semper nunc. eleifend facilisis nisi vitae lorem ipsum dolor consequat lorem ipsum etiam.</p>
            </div>
            <!--
        Note: You can replace the image below with a JPEG or PNG. Just make sure it's exactly
        320x340 or at least the same aspect ratio (16:17).

    <span class="image"><img src="images/pic02.svg" alt="" /></span>-->
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="main">
        <div class="inner spotlight style3">
            <div class="content">
                <header>
                    <h2>Promotions</h2>
                </header>
                <p>Ipsum efficitur nisi ac turpis venenatis varius. Suspendisse sed dictum leo ipsum amet pellentesque fusce ac hendrerit consectetur tempor risus, sed eget semper nunc. eleifend facilisis nisi vitae lorem ipsum dolor consequat lorem ipsum etiam.</p>
            </div>
            <!--
        Note: You can replace the image below with a JPEG or PNG. Just make sure it's exactly
        320x340 or at least the same aspect ratio (16:17).

    <span class="image"><img src="images/pic03.svg" alt="" /></span> -->
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="main special">
        <div class="inner">
            <header>
                <h2>Schedule</h2>
            </header>
            <div class="features">
                <section>
                    <span class="icon major fa-gem style1"></span>
                    <h3>Magna Veroeros</h3>
                    <p>Consequat turpis venenatis varius lorem sed dictum ipsum amet pellentesque fusce hendrerit consectetur risus, sed eget semper nunc.</p>
                </section>
                <section>
                    <span class="icon solid major fa-laptop style2"></span>
                    <h3>Risus Adipiscing</h3>
                    <p>Consequat turpis venenatis varius lorem sed dictum ipsum amet pellentesque fusce hendrerit consectetur risus, sed eget semper nunc.</p>
                </section>
                <section>
                    <span class="icon solid major fa-chart-bar style3"></span>
                    <h3>Leo Ipsum Varius</h3>
                    <p>Consequat turpis venenatis varius lorem sed dictum ipsum amet pellentesque fusce hendrerit consectetur risus, sed eget semper nunc.</p>
                </section>
                <section>
                    <span class="icon major fa-save style4"></span>
                    <h3>Dolor Consequat</h3>
                    <p>Consequat turpis venenatis varius lorem sed dictum ipsum amet pellentesque fusce hendrerit consectetur risus, sed eget semper nunc.</p>
                </section>
            </div>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="main special">
        <div class="inner">
            <p>
                Sed varius suspendisse dictum leo ipsum amet pellentesque<br />
                fusce ac hendrerit consectetur tempor lorem ipsum.
            </p>
            <ul class="actions stacked special">
                <li><a href="#" class="button primary large">Get Started</a></li>
                <li><a href="#" class="button large">Learn More</a></li>
            </ul>
        </div>
    </section>

</div>

