


.sectionBgColor {
    background: #f7f7f7;
}


/* Parallax */
.parallax {
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}




/* SCHEDULE */
ul {
    padding-left: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}

.schedule {
    width: 100%;
}

.schedulColumn {
    margin: 0 5px;
    float: left;
    width: 12.28%;
}

.schedulColumnTitle {
    margin-top: 0px;
    text-align: center
}

.classBoard {
    background-color: rgba(128, 128, 128, 0.1);
    margin: 10px 0px;
    height: 150px;
    border-radius: 5px;
}




.className {
    padding-top: 20px;
    font-weight: bold;
}

.classTime {
    font-style: oblique;
    font-size: small;
}

.classDuration {
    font-style: oblique;
    font-size: small;
}

@media only screen and (max-device-width: 1000px) {

    .schedule {
        text-align: center;
    }

    .schedulColumn {
        padding: 0 5%;
        float: left;
        width: 100%;
    }

    .schedulColumnTitle {
        margin-top: 50px;
    }

    .classBoard {
        background-color: rgba(128, 128, 128, 0.1);
        margin: 10px 0px;
        padding: 10px 0px;
        height: auto;
        border-radius: 5px;
    }

    .className, .classTime {
        padding: 10px;
        font-size: medium;
        display: inline;
    }

    .classDuration {
        width: 100%;
        font-size: medium;
        font-style: normal;
    }
}



#gymLocation {
    width: 100%;
    height: 400px;
    background-color: grey;
}



.formRow {
    padding: 20px 0px 10px 0px;
}

.formInfo {
    padding: 0px;
    margin: 0px;
}

label {
    margin: 0px;
}




/* Admin Navigation CSS */

.adminOverlay {
    /*top: 10%;*/
    left: 15%;
    width: 70%;
    display: none;
    position: fixed;

    background: #ffffff;
    color: #777777;
    height: 100%;
    overflow-y: auto;
    padding: 3em 2em;
    right: 0;
    top: 0;
    z-index: 10003;
}

.overlayContent {
    position: relative;
    top: 15%;
    width: 82%;
    left: 9%;
    text-align: center;
    margin-top: 30px;
}

.adminOverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .adminOverlay a:hover, .adminOverlay a:focus {
        color: #f1f1f1;
    }

.adminOverlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.closebtn {

    font-size: 90px;
}




#adminMenu ul li {
    width: 100%;
}

