<!-- Footer -->
<footer id="footer">
    @*<div class="inner">
            <ul class="icons">
                <li><a href="https://twitter.com/KynochBoxing" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/pg/KynochBoxingGym/photos/?ref=page_internal" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>*@
    <h2>King Boxing</h2>
    <h3>131 Alexander Street, G27 - Glasgow, Scotland</h3>
    <h3>07023 123456</h3>
    <br />

    <hr />
    <p class="copyright">&copy; King Boxing. All rights reserved, probably.</p>
</footer>
