<!-- Footer -->
<footer id="footer">
    @*<div class="inner">
            <ul class="icons">
                <li><a href="https://twitter.com/KynochBoxing" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/pg/KynochBoxingGym/photos/?ref=page_internal" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>*@

    <div class="inner">

        <h2>King Boxing</h2>
        <h3>131 Alexander Street, G27 - Glasgow, Scotland</h3>
        <h3>Contact: 07023 194365</h3>
        

        <ul class="icons">
            <li><hr /></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=YGjO3ZfPZhM&list=RDOiJJSY5uBvQ&index=27" class="icon brands fa-twitter fa-lg"><span class="label">Twitter</span></a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=YGjO3ZfPZhM&list=RDOiJJSY5uBvQ&index=27" class="icon brands fa-instagram fa-lg"><span class="label">Instagram</span></a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=YGjO3ZfPZhM&list=RDOiJJSY5uBvQ&index=27" class="icon brands fab fa-facebook-f fa-lg"><span class="label">Facebook</span></a></li>
        </ul>
    </div>
    @*<hr />
        <p class="copyright">&copy; King Boxing. All rights reserved, probably.</p>*@
</footer>
