


<!-- Wrapper -->
<div id="navWrapper" style="position: absolute; ">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h3 class="modalboxHeading">Menu</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            @*<li><a href="generic.html">Tempus etiam</a></li>
                <li><a href="generic.html">Consequat dolor</a></li>
                <li><a href="elements.html">Elements</a></li>*@
        </ul>

        <br />
        <h3 class="modalboxHeading">Top Posts</h3>
        <ul>
            <li><a href="/">Blog Post 1</a></li>
            <li><a href="/blog/">Blog Post 2</a></li>
            @*<li><a href="generic.html">Tempus etiam</a></li>
                <li><a href="generic.html">Consequat dolor</a></li>
                <li><a href="elements.html">Elements</a></li>*@
        </ul>
    </nav>

</div>


