@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="actions stacked">
            <li>
                @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "button primary fit" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="button fit">Log off</a>
            </li>

        
        </ul>
    }
}
else
{

        <ul class="actions stacked">
            <li>@Html.ActionLink("Log in", "Login", "Account",
               new { id = "loginLink" }, new { @class= "button primary fit" })
            </li>
            <li>@Html.ActionLink("Register", "Register", "Account", 
              new { id = "registerLink" }, new { @class = "button fit" })
            </li>
             @*routeValues: null, htmlAttributes:*@ 
        </ul>


}
