@model IEnumerable<BoxingSite.Models.BoxerUser>

@{
    ViewBag.Title = "Boxers";
}
<link href="~/assets/css/mainPhantom.css" rel="stylesheet" />



<div id="wrapper">
    <!-- One -->
    <section id="one" class="main sectionBgColor">
        <div class="inner spotlight style1">
            <div class="content  align-center">
                <header class="major">
                    <h2>Professional Boxers</h2>
                </header>
                <p>
                    King Boxing currently manage <strong><i>29 professional boxers</i></strong>.
                    King Boxing currently manage 29 professional boxers.
                    King Boxing currently manage 29 professional boxers.
                </p>
            </div>
        </div>
    </section>



    <div id="">
        <div class="inner">
            <p>
                You can search through our 29 professional boxers.
            </p>
            <input type="text" id="searchInput" onkeyup="searchBoxers()" placeholder="Search for Boxers.." title="Type in a name">
        </div>
    </div>
    <!-- Main -->
    <div id="">
        <div class="inner">
            @if (User.IsInRole("Administrator")) {
                @Html.ActionLink("Create Boxer", "Create", "Boxer")
                <br /><br />
            }
            <section class="tiles">
                @foreach (var person in Model)
                {
                    Random rand = new Random(DateTime.Now.Millisecond);
                    int styleNum = rand.Next(1, 7);
                    <article class="style@(styleNum)">

                        <a href="/Boxer/BoxerDetails/@person.ID">
                            <h2 class="boxerName">@Html.DisplayFor(modelItem => person.Forename) @Html.DisplayFor(modelItem => person.Surname)</h2>
                            <div class="content">
                                <p>@Html.DisplayFor(modelItem => person.Description).ToString().Substring(0, 100)...</p>
                                <span>Learn More?</span>
                            </div>
                        </a>
                        <span class="image">
                            <img src=@Html.DisplayFor(modelItem => person.ImageSrc) alt="" />
                        </span>
                    </article>
                }
            </section>
        </div>
    </div>
</div>
<script>
    function searchBoxers() {

        var searchInput, filter;
        var articles;
        var boxerName;
        var boxerNameTextValue, boxerDescriptionTextValue;
        var a, i;

        searchInput = document.getElementById('searchInput').value;
        filter = searchInput.toString().toUpperCase();
        articles = document.getElementsByTagName('article');

        for (i = 0; i < articles.length; i++) {

            a = articles[i].getElementsByTagName('a')[0];

            // get name of each boxer
            boxerName = a.getElementsByClassName('boxerName')[0];
            boxerNameTextValue = boxerName.textContent;

            // get description of each boxer
            var p = articles[i].getElementsByTagName('p')[0];
            boxerDescriptionTextValue = p.textContent;


            if (boxerNameTextValue.toUpperCase().indexOf(filter.toString()) > -1 ||
                boxerDescriptionTextValue.toUpperCase().indexOf(filter.toString()) > -1) {
                articles[i].style.display = "";
            }
            else {
                articles[i].style.display = "none";
            }
        }
    }
</script>
